body{
    background-color: #1f2833;
}
.About {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.About-image img {
max-width: 100%;
height: auto;
display: block;
transition: 0.5s ease;
}

.About-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.About-image:hover img{
    transform: scale(1.2);
}


.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;


}
.heading h1{
    font-size: 35px;
    color:#51FFF6;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #45a29e;
}

.About-content{
    flex: 1;
}
.About-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #51FFF6;
}
.About-content p{
    color: #45a29e;
}
.About-content a{
    color: #51FFF6;
}


