body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(BackgroundImage2.png);
}

header {
    background-color: #333;
    color: #45A29E;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #45A29E;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

nav a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #919191;
    color: black;
}

section {
    padding: 20px;
}

.content {
    margin-top: 12%;
}

.content h1 {
    font-size: 86px;
    margin-bottom: 16px;
}

.content h1 span {
    color: #51fff6;
}

.content p {
    line-height: 24px;
    font-size: 14;
    color: rgb(231, 248, 252);
}

.content .btn {
    display: inline-block;
    margin-top: 30px;
    background: #51fff6;
    color: #333;
    border-radius: 25px;
    text-decoration: none;
    padding: 15px 30px;
}

.content .btn:hover {
    background: #45A29E;
}

.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}

.coin {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #51fff6;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
}

.coin img {
    width: 40px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-register-buttons {
    display: flex;
    align-items: center;
}

.login-register-buttons a {
    color: #45A29E;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}
