* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2833;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #45A29E;
    padding: 4vw; 
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px; 
}

.container h2 {
    font-size: 2.5vw;
    font-weight: 600;
    color: #333;
    margin-bottom: 2vw; 
}

.container form {
    margin-top: 1vw; 
    margin-bottom: 1vw; 
    margin-left: 2vw; 

    display: flex;
    flex-direction: column;
    align-items: center;
}


.field {
    padding: 1vw; 
    border-radius: 6px;
    width: 100%;
    margin-bottom: 2vw; 
    margin: 0 auto; 
    margin-bottom: 2vw;
}

.field-button {
    width: 100%;
}

input[type="submit"] {
    border-radius: 1vw;
    margin: 1vw;
    background-color: #333;
    color: #45A29E;
    width: 85%; 
    padding: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1F2833;
}

button {
    border-radius: 1vw; 
    margin: 1vw;
    background-color: #333;
    color: #45A29E;
    margin-top: 2vw; 
    width: 100%;
}

button:hover {
    background-color: #1F2833;
}

.error-message {
    background-color: rgba(23, 19, 19, 0.1);
    color: rgb(144, 44, 44);
    padding: 1vw;
    margin-top: 1vw; 
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 5vw;
    }

    .field {
        margin-left: 0;
    }

    button {
        margin: 2vw 0;
    }
}
             