body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1F2833;
    color: #45A29E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #45A29E;
    margin-top: 5vw;
    font-size: 3vw; 
}

.slider-container {
    width: 100%; 
    max-width: 800px;
    margin: 2vw auto; 
    overflow: hidden;
    position: relative;
}

.go-back-button {
    position: absolute;
    top: 2vw;
    left: 2vw; 
    background-color: #45A29E;
    color: #1F2833;
    border: none;
    padding: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 0.5vw; 
}

.slide {
    width: 100%; 
    display: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

.fade {
    animation: fadeAnimation 10s ease-in-out infinite;
}

@keyframes fadeAnimation {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.slider-controls {
    margin-top: 1vw; 
    flex-wrap: wrap;
    justify-content: center;
}

.control-button {
    background-color: #45A29E;
    color: #1F2833;
    border: none;
    padding: 1.5vw; 
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 0.5vw; 
    margin: 1vw; 
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
        border-radius: 5px;
        margin: 0 5px;
    }

    .go-back-button {
        font-size: 12px;
        padding: 8px;
    }

    .control-button {
        font-size: 12px;
        padding: 8px;
    }
}
